body{
         margin:auto;
        }


        .nav{
            background-color: black;
            display: flex;
            align-items: center;
            margin-top: 0%;
            
        }

        .nav h2{
            color: white;
            margin-left: 20px;
        }

        .links{
            display: flex;
            margin: auto;
            gap: 80px;
        }

        .links a{
            text-decoration: none;
            color: white;
        }
        
        .logout{
            background-color: rgb(108, 108, 0);
            color: white;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 40px;
            border-radius: 20px;
            border: none;
        }

        
        .logout:hover{
            background-color: red;
        }


        .content{
            display: flex;
            margin: 50px;
            justify-content: space-between;
            

        }

        .content img{
            width: 400px;
            height: 300px;
            border-radius: 20px;
        }

        .bttn{
            background-color: rgb(128, 128, 1);
            padding: 10px;
            color: white;
            border: none;
            border-radius: 19px;
            font-size: 20px;
        }
        
        .bttn:hover{
            background-color: black;
            cursor: pointer;
        }

        .text p{
            font-size: 20px;
        }

        .text{
            margin-top: 50px;
        }


        .downabt{
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
        }
        

        .downabt div{
            margin-left: 20px;
            border: 0px solid black;
            box-shadow:1px 1px 6px rgba(0, 0, 0, 0.194);
            text-align: center;
            border-radius: 20px;
            width:300px;
            padding: 20px;
            
        }
        

        .who    {
            text-align: center;
        }

        .downabt img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }


        .team{
            display: flex;
            justify-content: center;
            gap:50px;
            margin-bottom: 100px;
        }

        .team img{
            width:140px;
            height:130px;
            border-radius: 100%;
        }

        .team div{
            
            text-align: center;
            
        }

        .lstdown{
            text-align: center;
        }
