<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style\about.css' %}">

</head>
<body>
    <div class="nav">
        <h2>My Website</h2>
        <div class="links">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="logout">Logout</button>

    </div>


<div class="content">
    <div class="text">
        <h1>About Us</h1>
        <p>MyWebsite is a modern web development company focused on building responsive, fast and user-friendly websites. We help businesses grow their online presence with professional design and development solutions.</p>
    </div>

    <div class="image">
        <img src="https://t4.ftcdn.net/jpg/06/03/96/65/360_F_603966594_borJ2q9v4z1mruByf20Yo3bf4AmkqmxN.jpg">
    </div>
</div>
 
<div class="who">
    <h2>Who We are</h2>
    <p>We are a team of passionate developers and designers dedicated to creating modern digital experiences. Our goal is to deliver high quality websites that are easy to use and visually appealing.</p>
</div>
    <div class="downabt">
        <div class="mission">
        <img src="https://media.istockphoto.com/id/823928832/photo/businessman-shows-the-word-mission.jpg?s=612x612&w=0&k=20&c=1hmJC8oDYIifhdUqzQUWNS6-NVhMwgpjo-fZYkWo0BI=">
        <h3>Our Mission</h3>
        <p>To build high quality websites that help businesses grow online.</p>
    </div>

    <div class="vision">
        <img src="https://media.istockphoto.com/id/500504909/photo/business-vision.jpg?s=612x612&w=0&k=20&c=sfAyloZ4GkAkZQ7KIm_Jeg33a4Z-HuR7lTijWbRN95g=">
        <h3>Our Vision</h3>
        <p>To become a trusted web development partner worldwide.</p>
    </div>

    <div class="goal">
        <img src="https://img.magnific.com/free-vector/dart-hitting-center-target-3d-icon-arrow-hitting-aim-bullseye-3d-vector-illustration-white-background-goal-success-achievement-marketing-strategy-concept_74855-25962.jpg?semt=ais_test_b&w=740&q=80" alt="">
        <h3>Our Goal</h3>
        <p>Deliver modern, responsive and user-friendly websites.</p>
    </div>
</div>
</div>


<div class="lstdown">
 <h2>Our Team</h2>
 <div class="team">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-FfJamHBR_vmj2wpSoJqy4YqEMqZjzoilYe5MpCRc6EXFwbLdOLEJyYc&s=10" alt="">
        <h3>Lionel Messi</h3>
        <h5>Footballer</h5>
    </div>

    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Cristiano_Ronaldo_Croatia_v_Portugal_2_July_2026-075_%28cropped%29.jpg/960px-Cristiano_Ronaldo_Croatia_v_Portugal_2_July_2026-075_%28cropped%29.jpg?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=thumbnail">
        <h3>Cristiano Ronaldo</h3>
        <h5>Youtuber</h5>
    </div>

    <div>
        <img src="https://cdn.britannica.com/27/222527-050-282DF901/Tom-Holland-2019.jpg">
        <h3>Tom Holland</h3>
        <h5>Spiderman</h5>
    </div>
 </div>
</div>
</body>
</html>