{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style\contact.css' %}">
</head>
<body>
    <div class="nav">
        <h2>My Website</h2>
        <div class="links">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="logout">Logout</button>

    </div>

    <h1>Contact us</h1>
    <p>Have questions? We'd love to hear from you.</p>

<div class="frm">
    <h2>Send Message</h2>

    <form class="forms">
        <label>Your Name</label>
        <input type="text" placeholder="">
        
        <label>Email</label>
        <input type="text" placeholder="">
        
        <label>Phone Number</label>
        <input type="number" placeholder="">
        
        <label>Message</label>
        <textarea></textarea>
        
        <input class="btn" type="submit" value="Send Message">
    </form>
</div>



<div class="details">
    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/684/684908.png">
        <h3>Address</h3>
        <h5>Kochi,Kerala</h5>
    </div>

    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="">
        <h3>Email</h3>
        <h5>mywebsite@gmail.com</h5>
    </div>

    <div>
        <img src="https://cdn-icons-png.flaticon.com/128/9946/9946341.png" alt="">
        <h3>Phone</h3>
        <h5>+917034325180</h5>
    </div>
</div>

</body>
</html>