{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style\index.css' %}">
</head>
<body>
    <div class="nav">
        <h2>My Website</h2>
        <div class="links">
        <a href="">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="logout">Logout</button>

    </div>


<div class="content">
    <div class="text">
        <h1>Welcome To My Website</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, laboriosam! Magni numquam, nesciunt quisquam nostrum, dolorum mollitia laboriosam quia perferendis vitae optio non delectus veritatis modi omnis nisi quo tempore.</p>
    <a class="bttn" href="flex_task_contact.html">Get Started</a>
    </div>

    <div class="image">
        <img src="https://img.magnific.com/free-photo/laptop-with-sun-background_1232-429.jpg?semt=ais_test_b&w=740&q=80">
    </div>


    
</div>
</body>
</html>