{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style\servces.css' %}">
</head>
<body>
    <div class="nav">
        <h2>My Website</h2>
        <div class="links">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'services' %}">Services</a>
        <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="logout">Logout</button>

    </div>

<div class="headofServices">
    <h1 style="font-size: 50px;">Our Services</h1>
    <p style="font-size: 20px;">We provide high-quality web solutions to help your business grow online.</p>

    <div class="services">
        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/1055/1055666.png" alt="">
            <h3>Web Design</h3>
            <p>We create modern and attractive website designs that improve user experience and engagement.</p>
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/7710/7710466.png" alt="">
            <h3>Web Development</h3>
            <p>Custom website development using latest technologies for fast and secure performance.</p>
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/8488/8488732.png">
            <h3>Responsive Design</h3>
            <p>Mobile-friendly websites that work perfectly on all devices.</p>
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/17109/17109631.png" alt="">
            <h3>UI/UX Design</h3>
            <p>Clean and professional user interface for better usability.</p>
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/17109/17109631.png" alt="">
            <h3>SEO Optimisation</h3>
            <p>Improve search engine ranking and increase website traffic.</p>
        </div>

        <div>
            <img src="https://cdn-icons-png.flaticon.com/128/12112/12112058.png">
            <h3>Website Maintainance</h3>
            <p>Regular updates, bug fixing and performance monitoring.</p>
        </div>
    </div>
</div>



<div class="srvccontct">
    <h1>Need a Custom Service?</h1>
    <h3>Contact us Today for a Free Consultation.</h3>
    <a href="flex_task_contact.html">Get Started</a>
</div>



</body>
</html>